# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ammar\Desktop\UCSI-Semester_2\CC109 - Java Programming 2\Assignments\group Assignment\Robot-gr-assign\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
